:root {
    --jrm-red: #641700;
    --jrm-brown: #544100;
    --jrm-green: #00440d;
    --jrm-purple: #490061;
    --jrm-dark: #102431;
    --jrm-blue-dark: #1e3b69;
    --jrm-blue-medium: #4361ad;
    --jrm-blue-light: #6880ca;
    --jrm-blue-very-light: #8d9fd8;
    --jrm-background-blue: #b2bfe6;
    --jrm-background-blue-light: #d8dff3;
    --jrm-background-white: #fcf8f6;
    /* https://colourco.de/freebuild/641700-544100-00440d-490061-102431-304791-4361bc-6880ca-8d9fd8-b2bfe6-d8dff3-fcf8f6 */
}



